version: "3"

services:
  app:
    build:
      context: .
      dockerfile: "Dockerfile"
    platform: linux/amd64
    volumes:
      - type: bind
        source: ./src/
        target: /home/local/src/
    ports:
      - "8080:8080"
    stdin_open: true
    tty: true
    command: >
      sh -c "go run main.go"
